<!DOCTYPE html>
<html>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '523638288107108');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=523638288107108&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UrgenciApp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        
    </head>
    <body>
        <script>
          fbq('track', 'CompleteRegistration');
        </script>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">UrgenciApp</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser) { %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Registrarse</a></li>
                        <li><a href="/about">Nosotros</a></li>
                    <% } else { %>
                        <li><a href="/users/<%=currentUser._id%>">Registrado como:  <em><%= currentUser.username %></em></a></li>
                        <li><a href="/facilities">Listado</a></li>
                        <li><a href="/search">Búsqueda</a></li>
                        <li><a href="/logout">Salir</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    
    <% if (error && error.length > 0) { %>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <p> <%= error%> </p>
            </div>
        </div>
    <% } %>
    
    <% if (success && success.length > 0) { %>
        <div class="container">
            <div class="alert alert-success" role="alert">
                <p> <%= success%> </p>
            </div>
        </div>
    <% } %>
    

    