<% include partials/header %>

<div class="ui raised very padded text container segment">
  <h2 class="ui header">Acerca de Nosotros</h2>
  <p>UrgenciApp es un servicio que nace de una necesidad personal.  Por una enfermedad llamda Esclerosis Múltiple, 
  teíamos que hacer frecuente uso de servicios de urgencias.  Desafortunadamente los centros clínicos son impredecibles por lo que atienden
  constatemente a muchas personas con diferentes necesidades.  Eso significaba que nunca sabíamos cuanto tardaría el personal mêdico
  en atendernos.</p>
  <p>Aquí entra el valor de UrgenciApp.  Basado en la información de los usuarios queremos que todos tengan acceso a información que les
  permita escoger el centro médico donde los atenderán más rápido.  Queremos descongestionar los centros de urgencias y hacer más eficiente
  el sistema.</p>
  <p>Estamos en un periodo de prueba así que toda crítica constructivos e ideas para mejorar son bienvenidas. Escríbenos a 
  <a href="mailto:contact.germanrueda@gmail.com">contact.germanrueda@gmail.com</a></p>
</div>

<% include partials/footer %>