<% include partials/header %>

<div class="ui raised very padded text container segment">
  <h2 class="ui header">Acerca de Nosotros</h2>
  <p>UrgenciApp es un servicio que nace de una necesidad personal familiar.  Por una enfermedad llamada 
  <em><a href="https://es.wikipedia.org/wiki/Esclerosis_m%C3%BAltiple" rel="noopener noreferrer" target="_blank">Esclerosis Múltiple</a></em>, 
  teníamos que hacer frecuente uso de servicios de urgencias.  Desafortunadamente los centros clínicos son impredecibles por lo que atienden
  constatemente a muchas personas con diferentes necesidades.  Eso significaba que nunca sabíamos cuanto tardaría el personal mêdico
  en atendernos.</p>
  <p>Aquí entra la propuesta de valor de UrgenciApp; basada en información de los usuarios de urgencias, brindamos fácil acceso a tiempos de espera que
  permita escoger el centro médico donde es más probable que los atiendan más rápido.  Queremos descongestionar los centros de urgencias y hacer más eficiente
  el sistema.</p>
  <p>Estamos en un período de prueba así que toda crítica constructiva y todas las ideas para mejorar son bienvenidas. Escríbenos a 
  <a href="mailto:contact.germanrueda@gmail.com">contact.germanrueda@gmail.com</a></p>
</div>

<% include partials/footer %>