<% include partials/header %>

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><i class="ambulance icon"></i>   UrgenciApp   <i class="hospital icon"></i></h1>
            <p class="lead">Te ayudamos a encontrar el centro clínico con el menor tiempo de espera</p>
        </div>
    </div>
</div>

<div class="ui container centered">
    <a class="btn btn-info btn-lg" href="/login">Login</a>
    <a class="btn btn-info btn-lg" href="/register">¡Regístrate!</a>
    <!--<br><a href="/RESTful">RESTful Table</a>-->
</div>

<% include partials/footer %>
