<% include partials/header %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenido a UrgenciApp</h1>
        <p class="lead">Aquí encontrarás información de tiempos de espera en Urgencias en clínicas de tu ciudad</p>
    </div>
</div>

<div class="container">
    <a class="btn btn-primary btn-lg" href="/login">Login</a>
    <a class="btn btn-primary btn-lg" href="/register">¡Regístrate!</a>
</div>

<a href="/RESTful">RESTful Table</a>

<% include partials/footer %>
