<% include partials/header %>

<div class="container">    
    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Registrarse</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/login">Ingresa</a></div>
            </div>  
            <div class="panel-body" >
                <form action="/register" method="POST" class="form-horizontal" role="form">
                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">Email*</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">Usuario*</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="username" placeholder="Usuario" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Clave*</label>
                        <div class="col-md-9">
                            <input type="password" class="form-control" name="password" placeholder="Clave" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">Nombre</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="firstName" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">Apellido</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="lastName" placeholder="Apellido">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="icode" class="col-md-3 control-label">Código de Invitación</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="adminCode" placeholder="Código">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Registrarme</button>
                            <script type="text/javascript">
                            $( '#$submitButton' ).click(function() {
                            fbq('track', 'CompleteRegistration');
                            ...
                            </script>
                            <span style="margin-left:8px;">o</span>  
                            <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i> Ingresa con Facebook</button>
                            <br><br><p><em>*campos obligatorios</em></p>
                        </div>
                    </div>
                </form>
             </div>
        </div>
     </div> 
</div>

<% include partials/footer %>