<% include ../partials/header %>

<div class="ui container">
    <table class="ui selectable celled table">
        <thead>
            <tr><th>Fecha</th>
            <!--<th>Estado</th>-->
            <th>Estado</th>
            <th>Acción</th>
            
        </tr></thead>
        <tbody>
            <% reports.forEach(function(report){ %>
            <tr>
                <td data-label="date"><%= report.checkIn.toLocaleString('es-CO', { timeZone: 'America/Bogota' }) %></td> 
                <!--.toLocaleString()   Object.assign({ locale: 'es' }, DateTime.DATETIME_FULL)-->
                <td data-label="openStatus">
                    <% if(report.openStatus){ %>
                        Falta "Check Out"
                    <% } else { %>
                        Completado
                    <% } %>
                </td>
                <td class="selectable">
                    <a href="#">Editar</a> <!-- /facilities/:id/report/:report_id/edit-->
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>



<% include ../partials/footer %>